//! **************************************************************************
// Written by: Map P.20131013 on Thu Oct 18 01:21:02 2018
//! **************************************************************************

SCHEMATIC START;
COMP "SW" LOCATE = SITE "N15" LEVEL 1;
COMP "hs" LOCATE = SITE "D7" LEVEL 1;
COMP "vs" LOCATE = SITE "E7" LEVEL 1;
COMP "CLK" LOCATE = SITE "A8" LEVEL 1;
COMP "PWR" LOCATE = SITE "N7" LEVEL 1;
COMP "FlashCS" LOCATE = SITE "E4" LEVEL 1;
COMP "FlashRP" LOCATE = SITE "T4" LEVEL 1;
COMP "ASTB" LOCATE = SITE "N8" LEVEL 1;
COMP "DSTB" LOCATE = SITE "P7" LEVEL 1;
COMP "RamWAIT" LOCATE = SITE "C1" LEVEL 1;
COMP "MemDB<0>" LOCATE = SITE "M2" LEVEL 1;
COMP "MemDB<1>" LOCATE = SITE "M1" LEVEL 1;
COMP "MemDB<2>" LOCATE = SITE "N2" LEVEL 1;
COMP "MemDB<3>" LOCATE = SITE "N1" LEVEL 1;
COMP "MemDB<4>" LOCATE = SITE "P2" LEVEL 1;
COMP "MemDB<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "MemDB<6>" LOCATE = SITE "R1" LEVEL 1;
COMP "MemDB<7>" LOCATE = SITE "R3" LEVEL 1;
COMP "MemDB<8>" LOCATE = SITE "H1" LEVEL 1;
COMP "MemDB<9>" LOCATE = SITE "G1" LEVEL 1;
COMP "PWAIT" LOCATE = SITE "N5" LEVEL 1;
COMP "MemOE" LOCATE = SITE "K2" LEVEL 1;
COMP "MemWR" LOCATE = SITE "T3" LEVEL 1;
COMP "RamCS" LOCATE = SITE "K1" LEVEL 1;
COMP "RamLB" LOCATE = SITE "J1" LEVEL 1;
COMP "RamUB" LOCATE = SITE "J2" LEVEL 1;
COMP "MemDB<10>" LOCATE = SITE "G2" LEVEL 1;
COMP "MemDB<11>" LOCATE = SITE "F2" LEVEL 1;
COMP "MemDB<12>" LOCATE = SITE "E1" LEVEL 1;
COMP "MemDB<13>" LOCATE = SITE "D1" LEVEL 1;
COMP "MemDB<14>" LOCATE = SITE "E2" LEVEL 1;
COMP "MemDB<15>" LOCATE = SITE "D2" LEVEL 1;
COMP "BTN<0>" LOCATE = SITE "J13" LEVEL 1;
PIN BTN<0>_pin<0> = BEL "BTN<0>" PINNAME PAD;
PIN "BTN<0>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "MemAdr<1>" LOCATE = SITE "J3" LEVEL 1;
COMP "MemAdr<2>" LOCATE = SITE "K5" LEVEL 1;
COMP "MemAdr<3>" LOCATE = SITE "L3" LEVEL 1;
COMP "MemAdr<4>" LOCATE = SITE "J4" LEVEL 1;
COMP "MemAdr<5>" LOCATE = SITE "K3" LEVEL 1;
COMP "MemAdr<6>" LOCATE = SITE "H4" LEVEL 1;
COMP "MemAdr<7>" LOCATE = SITE "K4" LEVEL 1;
COMP "MemAdr<8>" LOCATE = SITE "G3" LEVEL 1;
COMP "MemAdr<9>" LOCATE = SITE "E3" LEVEL 1;
COMP "FX2_IO" LOCATE = SITE "C7" LEVEL 1;
COMP "RamADV" LOCATE = SITE "B1" LEVEL 1;
COMP "RamCRE" LOCATE = SITE "L2" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "B4" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "A4" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "E6" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "C6" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "B6" LEVEL 1;
COMP "main_clk" LOCATE = SITE "R9" LEVEL 1;
COMP "PDATA<0>" LOCATE = SITE "N12" LEVEL 1;
COMP "PDATA<1>" LOCATE = SITE "P12" LEVEL 1;
COMP "PDATA<2>" LOCATE = SITE "N11" LEVEL 1;
COMP "PDATA<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "PDATA<4>" LOCATE = SITE "N10" LEVEL 1;
COMP "PDATA<5>" LOCATE = SITE "P10" LEVEL 1;
COMP "PDATA<6>" LOCATE = SITE "M10" LEVEL 1;
COMP "PDATA<7>" LOCATE = SITE "R10" LEVEL 1;
COMP "MemAdr<10>" LOCATE = SITE "F4" LEVEL 1;
COMP "MemAdr<11>" LOCATE = SITE "F5" LEVEL 1;
COMP "MemAdr<20>" LOCATE = SITE "D3" LEVEL 1;
COMP "MemAdr<12>" LOCATE = SITE "N3" LEVEL 1;
COMP "MemAdr<21>" LOCATE = SITE "M4" LEVEL 1;
COMP "MemAdr<13>" LOCATE = SITE "L5" LEVEL 1;
COMP "MemAdr<22>" LOCATE = SITE "A3" LEVEL 1;
COMP "MemAdr<14>" LOCATE = SITE "M3" LEVEL 1;
COMP "MemAdr<23>" LOCATE = SITE "C3" LEVEL 1;
COMP "MemAdr<15>" LOCATE = SITE "F3" LEVEL 1;
COMP "MemAdr<16>" LOCATE = SITE "L4" LEVEL 1;
COMP "MemAdr<17>" LOCATE = SITE "G4" LEVEL 1;
COMP "MemAdr<18>" LOCATE = SITE "H3" LEVEL 1;
COMP "MemAdr<19>" LOCATE = SITE "G5" LEVEL 1;
COMP "FlashStSts" LOCATE = SITE "R4" LEVEL 1;
COMP "RamCLK" LOCATE = SITE "C2" LEVEL 1;
NET "main_clk_BUFGP/IBUFG" BEL "main_clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

